// Icon time
.icon-time {
  border: $icon-border-width solid currentColor;
  border-radius: 50%;
  &::before {
    background: currentColor;
    height: .4em;
    transform: translate(-50%, -75%);
    width: $icon-border-width;
  }
  &::after {
    background: currentColor;
    height: .25em;
    transform: translate(-50%, -75%) rotate(125deg);
    transform-origin: 50% 100%;
    width: $icon-border-width;
  }
}