// Icon emoji
.icon-emoji {
  border: $icon-border-width solid currentColor;
  border-radius: 50%;
  &::before {
    border-radius: 50%;
    box-shadow: -.17em -.15em, .17em -.15em;
    height: $icon-border-width * 1.5;
    width: $icon-border-width * 1.5;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    border-right-color: transparent;
    height: .5em;
    transform: translate(-50%, -.2em) rotate(-135deg);
    width: .5em;
  }
}