// Icon mail
.icon-mail {
  &::before {
    border: $icon-border-width solid currentColor;
    border-radius: $border-radius;
    height: .8em;
    width: 1em;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-top: 0;
    height: .5em;
    transform: translate(-50%, -.45em) rotate(-45deg) skew(10deg, 10deg);
    width: .5em;
  }
}