// Icon location
.icon-location {
  &::before {
    border: $icon-border-width solid currentColor;
    border-radius: 50% 50% 50% 0;
    height: .8em;
    transform: translate(-50%, -60%) rotate(-45deg);
    width: .8em;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-radius: 50%;
    height: .3em;
    transform: translate(-50%, -.25em);
    width: .3em;
  }
}