extends _layout/_layout.pug
include _layout/_mixins.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Icons.css - Single Element Pure CSS icons'
  - var description = 'Icons.css - Single Element Pure CSS icons'

block content
  .section.section-hero.bg-gray
    #overview.grid-hero.container.grid-lg.text-center
      .docs-brand
        a.docs-logo(href='index.html')
          img(src='img/spectre-logo.svg' alt='Spectre.css CSS Framework')
          h2 SPECTRE
      .docs-navbar
        .btns.d-flex
          a.btn.ml-1(href='https://www.paypal.me/picturepan2' target='_blank') PayPal
          a.btn.btn-primary.ml-1(href='https://github.com/picturepan2/icons.css' target='_blank') GitHub
      h1 ICONS.CSS
      h2
        | Single Element Pure CSS icons
      p.text-gray
        | Latest version: 
        span.version
      .columns
        .column.col-4.col-xs-12
          .card.text-center
            .card-header
              span.card-title Modern
            .card-body
              | Elegantly developed pure CSS icons
        .column.col-4.col-xs-12
          .card.text-center
            .card-header
              span.card-title Responsive
            .card-body
              | Font size based single element icons
        .column.col-4.col-xs-12
          .card.text-center
            .card-header
              span.card-title Production Ready
            .card-body
              | Production ready icons for your projects
  
  .section.section-ads.bg-gray
    include _layout/_ad-g.pug

  .section.section-icons
    .docs-content.container.grid-lg
      p
        | Icons are single element, responsive and pure CSS icons.
        | You can include #[code icons.css] located in the #[code dist] folder to your web #{'<head>'} to have these CSS icons.

      +docs-subheading('icons-navigation', 'Navigation icons')

      .columns.text-center
        .column.col-3.col-md-6
          +icon-example('icon-arrow-up')
        .column.col-3.col-md-6
          +icon-example('icon-arrow-right')
        .column.col-3.col-md-6
          +icon-example('icon-arrow-down')
        .column.col-3.col-md-6
          +icon-example('icon-arrow-left')
        .column.col-3.col-md-6
          +icon-example('icon-upward')
        .column.col-3.col-md-6
          +icon-example('icon-forward')
        .column.col-3.col-md-6
          +icon-example('icon-downward')
        .column.col-3.col-md-6
          +icon-example('icon-back')
        .column.col-3.col-md-6
          +icon-example('icon-caret')
        .column.col-3.col-md-6
          +icon-example('icon-menu')
        .column.col-3.col-md-6
          +icon-example('icon-apps')
        .column.col-3.col-md-6
          +icon-example('icon-more-horiz')
        .column.col-3.col-md-6
          +icon-example('icon-more-vert')

      +docs-subheading('icons-action', 'Action icons')

      .columns.text-center
        .column.col-3.col-md-6
          +icon-example('icon-resize-horiz')
        .column.col-3.col-md-6
          +icon-example('icon-resize-vert')
        .column.col-3.col-md-6
          +icon-example('icon-plus')
        .column.col-3.col-md-6
          +icon-example('icon-minus')
        .column.col-3.col-md-6
          +icon-example('icon-close')
        .column.col-3.col-md-6
          +icon-example('icon-check')
        .column.col-3.col-md-6
          +icon-example('icon-stop')
        .column.col-3.col-md-6
          +icon-example('icon-shutdown')
        .column.col-3.col-md-6
          +icon-example('icon-refresh')
        .column.col-3.col-md-6
          +icon-example('icon-search')
        .column.col-3.col-md-6
          +icon-example('icon-flag')
        .column.col-3.col-md-6
          +icon-example('icon-bookmark')
        .column.col-3.col-md-6
          +icon-example('icon-edit')
        .column.col-3.col-md-6
          +icon-example('icon-delete')
        .column.col-3.col-md-6
          +icon-example('icon-share')
        .column.col-3.col-md-6
          +icon-example('icon-download')
        .column.col-3.col-md-6
          +icon-example('icon-upload')
        .column.col-3.col-md-6
          +icon-example('icon-copy')

      +docs-subheading('icons-object', 'Object icons')

      .columns.text-center
        .column.col-3.col-md-6
          +icon-example('icon-audio')
        .column.col-3.col-md-6
          +icon-example('icon-mail')
        .column.col-3.col-md-6
          +icon-example('icon-person')
        .column.col-3.col-md-6
          +icon-example('icon-message')
        .column.col-3.col-md-6
          +icon-example('icon-photo')
        .column.col-3.col-md-6
          +icon-example('icon-time')
        .column.col-3.col-md-6
          +icon-example('icon-location')
        .column.col-3.col-md-6
          +icon-example('icon-link')
        .column.col-3.col-md-6
          +icon-example('icon-emoji')

      pre.code(data-lang='HTML')
        code
          :highlight(lang="html")
            <i class="icon icon-menu"></i>

      +docs-subheading('icons-sizes', 'Icon sizes')

      p
        | Use #[code icon-2x], #[code icon-3x] and #[code icon-4x] classes to increase icon sizes.
        i.icon.icon-audio
        | You can set #[code font-size] to have different icon sizes.

      .columns.text-center
        .column.col-3.col-md-6
          p
            i.icon.icon-2x.icon-mail
          p icon-2x (32px)
        .column.col-3.col-md-6
          p
            i.icon.icon-3x.icon-mail
          p icon-3x (48px)
        .column.col-3.col-md-6
          p
            i.icon.icon-4x.icon-mail
          p icon-4x (64px)
          button.btn.btn-primary
            i.icon.icon-audio

      pre.code(data-lang='HTML')
        code
          :highlight(lang="html")
            <i class="icon icon-2x icon-mail"></i>

  .section.section-ads.bg-gray
    include _layout/_ad-c.pug

  footer.section.section-footer
    include _layout/_footer.pug