// Icon flag
.icon-flag {
  &::before {
    background: currentColor;
    height: 1em;
    left: 10%;
    width: $icon-border-width;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-bottom-right-radius: $icon-border-radius;
    border-left: 0;
    border-top-right-radius: $icon-border-radius;
    height: .7em;
    top: 35%;
    left: 52%;
    width: .85em;
  }
}