// Icon copy
.icon-copy {
  &::before {
    border: $icon-border-width solid currentColor;
    border-radius: $icon-border-radius;
    border-right-color: transparent;
    border-bottom-color: transparent;
    height: .8em;
    left: 40%;
    top: 40%;
    width: .7em;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-radius: $icon-border-radius;
    height: .8em;
    left: 60%;
    top: 60%;
    width: .7em;
  }
}