// Icon more
.icon-more-horiz,
.icon-more-vert {
  &::before {
    background: currentColor;
    box-shadow: -.4em 0, .4em 0;
    border-radius: 50%;
    height: 3px;
    width: 3px;
  }
}

.icon-more-vert {
  &::before {
    box-shadow: 0 -.4em, 0 .4em;
  }
}