// Icon check
.icon-check {
  &::before {
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-top: 0;
    height: .5em;
    width: .9em;
    transform: translate(-50%, -.375em) rotate(-45deg);
  }
}