#copyright.docs-footer.container.grid-lg
  p
    a(href='https://github.com/picturepan2/icons.css' target='_blank') GitHub
    |  · 
    a(href='https://twitter.com/spectrecss' target='_blank') Twitter
    |  · 
    a(href='https://www.paypal.me/picturepan2' target='_blank') PayPal Donate
    |  · Version 
    span.version
  p
    | Designed and built with 
    span.text-error &hearts;
    |  by 
    a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu
    | . Licensed under the 
    a(href='https://github.com/picturepan2/spectre/blob/master/LICENSE' target='_blank') MIT License
    | .