// Icon apps
.icon-apps {
  &::before {
    background: currentColor;
    box-shadow: -.35em -.35em, -.35em 0, -.35em .35em, 0 -.35em, 0 .35em, .35em -.35em, .35em 0, .35em .35em;
    height: .15em;
    width: .15em;
  }
}
